<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PetCare Shop</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal - v4.10.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <div id ="index1">
  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <span style="font-weight: bold;" class="d-flex align-items-center" v-if="isLogin">
          <a :href="'notification_view.html?uid='+userId" class="notification">
          <i class='bx bxs-bell' style="font-size: 18px;" ></i></a> &nbsp;Hello, {{username}}</span>
        <span class="d-flex align-items-center" v-else ><a href="#" onclick="javascript:window.location.href='sign_in.html'">Hey, Please Login</a></span>
      
        <i class="d-flex align-items-center ms-4" v-if="isLogout"><a href="#" onclick="javascript:window.location.href='sign_up.html'">Register</a></i>
        <i class="d-flex align-items-center ms-4" v-else><a @click="logoutRequest" >Logout</a></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a :href="'store_open.html?uid='+userId">Free Open Store</a>

      </div>
    </div>
  </section><!-- End Top Bar-->
  
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="index.html">PetCare <span>Shop</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="petproduct.html">Pet Product</a></li>
          <li><a class="nav-link scrollto" href="petservice.html">Pet Service</a></li>
          <li><a class="nav-link scrollto " href="pet_onlinestore.html">Online Store</a></li>
          <li v-if="isLogin" class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a href="profile.html">Profile</a></li> -->
              <li><a :href="'profile.html?uid='+userId">Profile</a></li>
              <li><a :href="'address.html?uid='+userId">Address Book</a></li>
              <li><a :href="'my_orderings.html?uid='+userId">Ordering</a></li>
              <li><a :href="'reservation_view.html?uid='+userId">Reservation</a></li>
              <li><a :href="'my_comments.html?uid='+userId">Order Reviews</a></li>
            </ul>
          </li>
          <li v-else></li>
          <li><a class="nav-link scrollto" href="shopping_cart.html"><i class="bi bi-cart4 " style="font-size: 26px;"></i></a></li>
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= hero Section ======= -->
   <!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Pet Service</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Pet Service</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs Section -->


  <main id="main">
  

    <!-- display the pet service randomly: such as by create_time, and can reserable  -->

    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Pet Care Service</h2>
          <p>Below is the list of pet service from variety store</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

          <!-- Filter 1 -->
        <template  v-for="ps, index in petServiceStoreList">
          <div class="col-lg-4 col-md-6 portfolio-item">
            
            <img src="assets/img/petservice.jpg" class="img-fluid" alt=""> <!--Pet service img-->
            
            <div class="portfolio-info col-lg-4 col-md-6">

              <h4>{{ps.serviceName}}</h4>
              
              <p style="font-size: 15px;"><i class="bx bx-store"></i>&nbsp;{{ps.storeName}}</p> <!--store name-->
              <!-- <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a> -->
             
              <!--pet service detail page pid -->
              <a :href="'petservice-detail.html?pid='+ps.serviceId" class="details-link" title="More Details"><i class="bx bx-pointer"></i></a>
            </div>
          </div>
         
        </template>

        </div>

      </div>
    </section>

  </main><!-- End #main -->
</div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>PetCare</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
      -->
        Designed by <a href="https://bootstrapmade.com/">ZHANG XIAOMENG</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  
  <script src="assets/js/main.js"></script>
  <!-- <script src="assets/js/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
  <script src="assets/js/axios.js"></script>
  <script src="assets/js/cookie_utils.js"></script>

  <script>
var baseUrl = "https://app-petcare-test.azurewebsites.net/";

    var vm = new Vue({
      el:"#index1",
      data:{
        username:"",
				userimg:"",
        userId:"",
				isLogin:false,
        isLogout:false,
        petServiceStoreList:[],
      },
      created: function(){
        // get token, username from cookie
        var token = getCookies("token");

        // check user if login or not
        if(token != null && token != ""){
          this.isLogin= true;
          this.username = getCookies("username");
          this.token =getCookies("token");
          this.userId = getCookies("userId");
          console.log(this.userId)
      
        }else{
          // else token is null, means user not login
          this.isLogout=true;
        }
        
        // fetch list of pet service with store information
        var Url = baseUrl+"petservice/all";

        axios.get(Url,).then((res)=>{
          this.petServiceStoreList = res.data.data;
       
          console.log(this.petServiceStoreList);
        });

      },
      methods:{
        logoutRequest: function(){

          // vm.isLogout = true;
          // clear all cookies
          deleteCookie();
          console.log("this token: ", this.token)
          window.location.href = "sign_in.html";
        }
      }
   
    })
    

  </script>
</body>

</html>