<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PetCare Shop</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <!-- Vendor CSS Files -->
   <!-- Vendor CSS Files -->
   <link href="assets/vendor/aos/aos.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
   <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
   <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
   <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Reveal - v4.10.0
  * Template URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <style>
  .axs:hover {
    color: black;
    font-size: 17px;
  } 
  
  </style>
</head>

<body>

  <div id ="index1">

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <span style="font-weight: bold;" class="d-flex align-items-center" v-if="isLogin">
          <a :href="'notification_view.html?uid='+userId" class="notification">
          <i class='bx bxs-bell' style="font-size: 18px;" ></i></a> &nbsp;Hello, {{username}}</span>
        <span class="d-flex align-items-center" v-else ><a href="#" onclick="javascript:window.location.href='sign_in.html'">Hey, Please Login</a></span>
      
        <i class="d-flex align-items-center ms-4" v-if="isLogout"><a href="#" onclick="javascript:window.location.href='sign_up.html'">Register</a></i>
        <i class="d-flex align-items-center ms-4" v-else><a @click="logoutRequest" >Logout</a></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a :href="'store_open.html?uid='+userId">Free Open Store</a>

      </div>
    </div>
  </section><!-- End Top Bar-->
  
   <!-- ======= Header ======= -->
   <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div id="logo">
        <h1><a href="index.html">PetCare <span>Shop</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt=""></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
          <li><a class="nav-link scrollto" href="petproduct.html">Pet Product</a></li>
          <li><a class="nav-link scrollto" href="petservice.html">Pet Service</a></li>
          <li><a class="nav-link scrollto " href="pet_onlinestore.html">Online Store</a></li>
          <li v-if="isLogin" class="dropdown"><a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <!-- <li><a href="profile.html">Profile</a></li> -->
              <li><a :href="'profile.html?uid='+userId">Profile</a></li>
              <li><a :href="'address.html?uid='+userId">Address Book</a></li>
              <li><a :href="'my_orderings.html?uid='+userId">Ordering</a></li>
              <li><a :href="'reservation_view.html?uid='+userId">Reservation</a></li>
              <li><a :href="'my_comments.html?uid='+userId">Order Reviews</a></li>
            </ul>
          </li>
          <li v-else></li>
          <li><a class="nav-link scrollto" href="shopping_cart.html"><i class="bi bi-cart4 " style="font-size: 26px;"></i></a></li>
          
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= hero Section ======= -->
   <!-- ======= Breadcrumbs Section ======= -->
   <section class="breadcrumbs">
    <div class="container">


    </div>
  </section><!-- End Breadcrumbs Section -->


  <main id="main">
  

    <!-- display the pet service randomly: such as by create_time, and can reserable  -->

       <!-- ======= Breadcrumbs Section ======= -->
       <section class="breadcrumbs">
        <div class="container">
  
          <div class="d-flex justify-content-between align-items-center">
            <h2>Pet Product Details</h2>
            <ol>
              <li><a href="index.html">Home</a></li>
              <li><a href="portfolio.html">Pet Product</a></li>
              <li>Product Details</li>
            </ol>
          </div>
  
        </div>
      </section><!-- Breadcrumbs Section -->
  
      <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img  :src="productInfo.mainImg" alt="">
                </div>


              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong style=" font-size: 18px;">{{productInfo.brand}} - {{productInfo.productName}} - {{productInfo.weight}}g </strong></li>
							  <li v-if="productInfo.discount <10">
                  <strong style=" font-size: 16px; color: red;">CNY {{productInfo.salePrice}}</strong> 
                  &nbsp;&nbsp;
                  <span style="color: rgb(147, 147, 147); text-decoration: line-through;">CNY{{productInfo.actualPrice}}</span> 
             

                </li>
                <li v-else>
                  <strong style=" font-size: 16px;">CNY {{productInfo.actualPrice}}</strong> 
                 
                </li>
				
							  <li><strong>Stock</strong>: {{productInfo.stock}}</li>
                <li><button type="button" class="btn" style="background-color: #ffa3a3; color: white;"  @click="AddtoCart"><i class="bx bx-cart  mr-2"></i> Add to cart</button> &nbsp;&nbsp;&nbsp; <span style="color: green;">{{tips}}</span> </li>
              </ul>
            </div>
            <!-- <div class="portfolio-description">
              <h2>This is an example of portfolio detail</h2>
              <p>
                Autem ipsum nam porro corporis rerum. Quis eos dolorem eos itaque inventore commodi labore quia quia. Exercitationem repudiandae officiis neque suscipit non officia eaque itaque enim. Voluptatem officia accusantium nesciunt est omnis tempora consectetur dignissimos. Sequi nulla at esse enim cum deserunt eius.
              </p>
            </div> -->
          </div>

        </div>

        <div class="row gy-4">
          <div class="col-lg-12">
            <div class="portfolio-info">
              <h3  style="text-align: center; font-size: 18px;">About this product &nbsp; &nbsp; <i class="bx bx-heart"></i>
              <p> </p>
           
                <a  class="axs details-link m-5" style="font-size: 15px;" onclick="showCategory(event, 'category1')">Description</a>
                <a  class="axs details-link m-5" style="font-size: 15px;" onclick="showCategory(event, 'category2')">Reviews</a>
             
             
              </h3>
     
            
            
             <!-- Description -->
              <div class="content">
                <div id="category1" class="category1" style="display:contents; " >

                
                  <ul>
                    <li><strong>Keep period</strong>: {{productInfo.productPeriod}}</li>
                    <li><strong>Storage method</strong>: {{productInfo.storageMethod}}</li>
                    <li><strong>Made place</strong>: {{productInfo.madePlace}}</li>
                    <li><strong>Factory name</strong>: {{productInfo.factoryName}}</li>
                    <li><strong>Factory address</strong>: {{productInfo.factoryAddress}}</li><p></p>
                    <li>
                      <img :src="productInfo.otherImg" class="rounded mx-auto d-block" width="30%" height="30%">
                      <p></p>
                      <strong>Details: </strong>
                      <p></p>
                      <div v-html="productInfo.productDesc1" style="font-size: 16px;"></div>
                      
                    
                    
                    </li>
                    </ul>
                </div>
               
                <!-- Review -->
                <div id="category2" class="category2" style="display:none; " >
                  
                  <template  v-for="comm, index in commentList">
                  <div class="portfolio-info">
                    
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="user d-flex flex-row align-items-center">
                        <img :src="comm.userImg" width="30" class="user-img rounded-circle mr-2"> &nbsp;&nbsp;
                        <span><small class="font-weight-bold text-primary">{{comm.username}}</small></span>
                      </div>
                      <small style="color: #ffa3a3;">{{comm.createTime.substring(0,10)}}</small>

                    </div>
                  <div class="action d-flex justify-content-between mt-2 align-items-center">
                    <div class="reply px-4" v-html="comm.content">
                     
                    </div>
                  </div>
                  </div>
                  <hr style="color: rgb(203, 203, 203);">
                  </template>
                </div>
              </div>

              
             
            </div>
           
          </div>

      </div>
      </div>
    </section><!-- End Portfolio Details Section -->

     
  </main><!-- End #main -->
</div>
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>PetCare</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
      -->
        Designed by <a href="https://bootstrapmade.com/">ZHANG XIAOMENG</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->

  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <script src="assets/vendor/php-email-form/validate.js"></script>
  <!-- Template Main JS File -->

  <script src="assets/js/vue.js"></script>
  <script src="assets/js/axios.js"></script>
  <script src="assets/js/cookie_utils.js"></script>
  <script src="assets/js/util.js"></script>

  <script src="assets/js/main.js"></script>
  

    <script>
		function showCategory(evt, categoryName) {
			var i, categoryContent, navbarLinks;
			categoryContent = document.getElementsByClassName("category1");
			for (i = 0; i < categoryContent.length; i++) {
				categoryContent[i].style.display = "none";
			}
			categoryContent = document.getElementsByClassName("category2");
			for (i = 0; i < categoryContent.length; i++) {
				categoryContent[i].style.display = "none";
			}
			navbarLinks = document.getElementsByClassName("nav-link");
			for (i = 0; i < navbarLinks.length; i++) {
				navbarLinks[i].className = navbarLinks[i].className.replace(" active", "");
			}
			document.getElementById(categoryName).style.display = "block";
			evt.currentTarget.className += " active";
		}
	</script>


  <script>
  

  var baseUrl = "https://app-petcare-test.azurewebsites.net/";
    var vm = new Vue({
      el:"#index1",
      data:{
        
        petProductId:"",
        username:"",
				userimg:"",
        userId:"",
				isLogin:false,
        isLogout:false,
        productInfo:{},
        commentList:[],
        petNumber:"",
        isAddCart: false, // true: added , false: not yet
        cart:{
          productId:0,
          storeId:0,
          userId:0,
          productNum:0,
        },
        token:"",
        isRight: false,
        colorStyle:"",
        tips:"",
      },
      created: function(){
    
   
        // get token, username from cookie
        var token = getCookies("token");
        this.petProductId = getUrlParam("pid");
        // check user if login or not
        if(token != null && token != ""){
          this.isLogin= true;
          this.username = getCookies("username");
          this.token =getCookies("token");
          this.userId = getCookies("userId");
          console.log(this.userId)
      
        }else{
          // else token is null, means user not login
          this.isLogout=true;
        }
         // get product detail
         var Url = baseUrl+"product/detail/"+this.petProductId;
     
        axios({
							method:"get",
							url:Url,
            
							params:{
                pid: this.petProductId
              },
					
						}).then((res)=>{ 
							this.productInfo = res.data.data;//backend return ResultVO object
							
							console.log("get : ",this.productInfo);
							
               
				});

      
          // get list of comment for particular product
        var commentUrl = baseUrl+"comment/list/"+this.petProductId;
     
        axios({
							method:"get",
							url:commentUrl,
					
						}).then((res)=>{ 
							this.commentList = res.data.data;//backend return ResultVO object
							
							console.log("get : ",this.commentList);
							
               
				});

          // check if product added to the cart
        var Url1 = baseUrl+"cart/check";
        
        axios({
							method:"get",
							url:Url1,
              headers:{
                token: token
              },
							params:{
                pid: this.petProductId,
                uid: this.userId
              },
					
						}).then((res)=>{ 
              console.log("code: ", res.data.code)
              // check if exceed the stock
              if(res.data.code == 10001){
                // exceed , cannot add anymore
                this.isAddCart=null;
              }else{
                this.isAddCart = res.data.data;//backend return ResultVO object


							  console.log("return values: ",res.data.data);
              }
							
							
				});
      },
      methods:{

        logoutRequest: function(){

          // vm.isLogout = true;
          // clear all cookies
          deleteCookie();
          console.log("this token: ", this.token)
          window.location.href = "sign_in.html";
        },

       
        AddtoCart: function(){
      
        //     console.log("return values******** ",vm.isAddCart);
            if(vm.isAddCart==null){
            console.log("return values: ",vm.isAddCart);
            vm.tips="Exceed stock!!!";
                setTimeout(function(){
                    vm.tips="";
            },300)
            return;
         }
          // need to check the product if already into cart
        if(vm.isAddCart){
            // true: product already added into cart, now just need to increase the product number in cart
            vm.cart.productId = vm.productInfo.productId;
            vm.cart.userId = vm.userId;
            Url = baseUrl+"cart/increase/"+vm.productId;
            axios({

							method:"put",
							url:Url,
              headers:{
								token:vm.token
							},
							data: vm.cart
							
						}).then((res)=>{ 

              vm.tips="Added Successfully!";
							setTimeout(function(){
									vm.tips="";
							},300)
              // check if out of stock
              var Url11 = baseUrl+"cart/check";
          axios({
							method:"get",
							url:Url11,
              headers:{
                token: this.token
              },
							params:{
                pid: vm.petProductId,
                uid: vm.userId
              },
					
						}).then((res)=>{ 
              console.log("code: ", res.data.code)
              // check if exceed the stock
              if(res.data.code == 10001){
                // exceed , cannot add anymore
                vm.isAddCart=null;
                console.log("return values-------- ",vm.isAddCart);
              }else{
                
                this.isAddCart = res.data.data;//backend return ResultVO object
							  console.log("return values: ",vm.isAddCart);
              }
							
							
						});

						});
          }else{
            // if not, then create a new cart 
            vm.cart.productId = vm.productInfo.productId;
            vm.cart.storeId = vm.productInfo.storeId;
            vm.cart.userId = vm.userId;
            vm.cart.productNum =1;
            console.log("cart: ", vm.cart)
            Url = baseUrl+"cart/new"
            axios({
							method:"post",
							url:Url,
              headers:{
								token:vm.token
							},
							data: vm.cart
							
						}).then((res)=>{ 

              vm.isAddCart = true;
              vm.tips="Added Successfully";
							setTimeout(function(){
									vm.tips="";
							},300)
            
						});
          }


        },

        // check input validation
        checkInfo: function(){

          if(vm.reservation.reserverName == null || vm.reservation.reserverName ==""){
            vm.tips = "Reserver name cannot be empty！";
              vm.colorStyle="color:red";
              vm.isRight =  false;
          }else if(vm.reservation.reserverPhone == null || vm.reservation.reserverPhone==""){
              vm.tips = "Reserver phone cannot be empty！";
              vm.colorStyle="color:red";
              vm.isRight =  false;
          }else if(vm.reservation.petNumber == null || vm.reservation.petNumber==""){
              vm.tips = "Pet number cannot be 0！";
              vm.colorStyle="color:red";
              vm.isRight =  false;
          }else if(vm.reservation.checkInDate == null || vm.reservation.checkInDate==""){
              vm.tips = "Please select date！";
              vm.colorStyle="color:red";
              vm.isRight =  false;
          }else if(TIMES == null || TIMES==""){
              vm.tips = "Please select time！";
              vm.colorStyle="color:red";
              vm.isRight =  false;
          }else{
              vm.isRight = true;
          }
        }
      }
   
    })
    

  </script>
</body>

</html>